body {
    margin: 0;
    background: #6943FF;
    margin-top: 0px;
    background-image: url(/images/cool-minimalist-math-rub7r7wi71osw7sx.jpg);

}

#container {
    margin-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}

h1 {
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
}

#quantity {
    border-radius: 5px;
    background: #6943FF;
    border: 1px solid aliceblue;
    width: 120px;
    height: 70px;
    margin-bottom: 26px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 46px;
    color: aliceblue;
    font-weight: 900;
}

#convert-btn {
    padding: 16px 32px;
    border: none;
    background-color: aliceblue;
    border-radius: 8px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container2 {
    background: #1F2937;
    height: 70vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #273549;
    width: 90%;
    height: 16vh;
    margin-top: 30px;
    
}

.dataTitle {
    color: #CCC1FF;
    font-size: larger;
    margin-bottom: 5px;
}

.result {
    color: aliceblue;
    font-weight: 200;
}
